<ion-list lines="none">
  <ion-card>
    <ion-item>
      <h2>
        Círculo
      </h2>
    </ion-item>
    <ion-item>
      <h3>
        Perimetro
      </h3>
    </ion-item>
    <ion-item>
      <h3>
        El Perimetro de un circulo es la longitud de la linea que forma su borde.
      </h3>
    </ion-item>
      <ion-item>
        <p>       
          Donde: <br>
          P: perímetro <br> 
          d: diámetro <br>
          r: radio del circulo <br> 
          π: 3.1416
          <ion-item>
            <ion-img
              src="circulo.png">
            </ion-img>        
          </ion-item>
        </p>
      </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="Radio" type="number" label="Radio (cm)" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="calcularPerimetro()">CALCULAR EL PERIMETRO</ion-button>
    </ion-item>
    <ion-item>
      {{resultado}}
    </ion-item>
  </ion-card>
</ion-list>
